@media screen and (max-width: 576px) {
    .header {
        background-color: #CBECFF;
        margin: 0  auto;
        box-sizing: border-box;
        width: 100%;
        padding: 0 16px 23px 16px;
        overflow-x: hidden;
    }
    .header_content {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column-reverse;
    }
    .header_oder {
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
    }
    .header_oder > p{
        font-weight: 400;
        color: #29374E;
        font-size: 14px;
        margin: 0;
    }
    .header_oder > h1 {
        font-size: 64px;
        font-weight: 600;
        color: #29374E;
        font-size: 36px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: flex-start;
        margin: 0 0 12px 0;
    } 
    .header_oder > h1 > span{
        display: inline-block;
        font-size: 36px;
        width: 89px;
        height: 59px;
        padding: 7px 0 0 18px;
        box-sizing: border-box;
        background: #FFFFFF;
        border-radius: 20px;
        font-weight: 600;
        box-sizing: border-box;
        color: #0962E8;
        margin: 0 3px;
    }
    .header_logo {
        width: 424px;
        position: relative;
    }
    .header_img_arm {
        width: 424px;
        height: 389px;
        margin-left: -16px;
    }
}
@media screen and (min-width: 576px) and (max-width: 1220px){
    .header {
        background-color: #CBECFF;
        margin: 0  auto;
        box-sizing: border-box;
        width: 100%;
        min-height: 500px;
        padding: 0 0 0 16px;
        overflow-x: hidden;
    }
    .header_content {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: flex-start;
        flex-direction: row;
    }
    .header_oder {
        font-size: 22px;
        font-weight: 400;
        color: #29374E;
        width: 391px;
        overflow-x: hidden;
    }
    .header_oder > h1{
        font-size: 64px;
        font-weight: 600;
        color: #29374E;
        margin: 63px 0 11px 0;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .header_oder > h1 > span{
        display: inline-block;
        width: 122px;
        height: 80px;
        background: #FFFFFF;
        border-radius: 20px;
        font-size: 64px;
        font-weight: 600;
        box-sizing: border-box;
        color: #0962E8;
        padding: 0 0 0 15px;
        margin: 0 3px;
    }
    .header_oder > p{
        margin: 0 7px 0 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .header_logo {
        width: 600px;
        height: 555px;
        position: relative;
        overflow: hidden;
    }
}
@media screen and (min-width: 1220px) {
    .header {
        background-color: #CBECFF;
        margin: 0  auto;
        box-sizing: border-box;
        max-width: 1100px;
        padding: 0 60px;
        height: 678px;
        position: relative;
    }
    .header_content {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: flex-start;
    }
    .header_oder {
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 420px;
    }
    .header_oder > h1{
        font-size: 64px;
        font-weight: 600;
        color: #29374E;
        margin: 63px 0 11px 0;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .header_oder > h1 > span{
        display: inline-block;
        width: 122px;
        height: 80px;
        background: #FFFFFF;
        border-radius: 20px;
        font-size: 64px;
        font-weight: 600;
        box-sizing: border-box;
        color: #0962E8;
        padding: 0 0 0 15px;
        margin: 0 3px;
    }
    .header_oder > p{
        font-size: 16px;
        font-weight: 400;
        line-height: 28.6px;
        margin: 0 87px 0 0;
    }
    .header_logo {
        width: 605px;
        height: 555px;
        position: relative;
    }
}